.header {
  height: 88px;
  background-color: transparent;
  border-bottom: none;
  display: flex;
  align-items: center;
}

.inner {
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: 6px;
  text-decoration: none;
  color: rgb(138, 145, 165);
  font-size: 13px;
  font-weight: 500;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: rgb(33, 36, 45);
    color: #ffffff;
  }

  &[data-active="true"] {
    background-color: rgb(33, 36, 45);
    color: #ffffff;
  }
}